.slide-in-top {
        animation: fadeIn ease 700ms;
        -webkit-animation: fadeIn ease 700ms;
        -moz-animation: fadeIn ease 700ms;
        -o-animation: fadeIn ease 700ms;
        -ms-animation: fadeIn ease 700ms;
}

.slide-in-top-1 {
        animation: fadeIn ease 1000ms;
        -webkit-animation: fadeIn ease 1000ms;
        -moz-animation: fadeIn ease 1000ms;
        -o-animation: fadeIn ease 1000ms;
        -ms-animation: fadeIn ease 1000ms;
}

.slide-in-top-2 {
        animation: fadeIn ease 1500ms;
        -webkit-animation: fadeIn ease 1500ms;
        -moz-animation: fadeIn ease 1500ms;
        -o-animation: fadeIn ease 1500ms;
        -ms-animation: fadeIn ease 1500ms;
}


.slide-in-top-3 {
        animation: fadeIn ease 2000ms;
        -webkit-animation: fadeIn ease 2000ms;
        -moz-animation: fadeIn ease 2000ms;
        -o-animation: fadeIn ease 2000ms;
        -ms-animation: fadeIn ease 2000ms;
}


.slide-in-top-4 {
        animation: fadeIn ease 2500ms;
        -webkit-animation: fadeIn ease 2500ms;
        -moz-animation: fadeIn ease 2500ms;
        -o-animation: fadeIn ease 2500ms;
        -ms-animation: fadeIn ease 2500ms;
}

.slide-in-top-5 {
        animation: fadeIn ease 4000ms;
        -webkit-animation: fadeIn ease 4000ms;
        -moz-animation: fadeIn ease 4000ms;
        -o-animation: fadeIn ease 4000ms;
        -ms-animation: fadeIn ease 4000ms;
}


.slide-in-top-6 {
        animation: fadeIn ease 4000ms;
        -webkit-animation: fadeIn ease 4000ms;
        -moz-animation: fadeIn ease 4000ms;
        -o-animation: fadeIn ease 4000ms;
        -ms-animation: fadeIn ease 4000ms;
}


      @keyframes fadeIn{
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-moz-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-webkit-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-o-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-ms-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
