/************** RESET **************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

 a:hover {
    cursor:url('../img/cursor-60.png'), auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

#wrap {
    position: relative;
}



/************** FONTS **************/
@font-face {
    font-family: 'lumberjackregular';
    src: url('../fonts/lumberjack-webfont.woff2') format('woff2'),
        url('../fonts/lumberjack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lumberjackinline_rough';
    src: url('../fonts/lumberjack_inline_rough-webfont.woff2') format('woff2'),
        url('../fonts/lumberjack_inline_rough-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lumberjackrough';
    src: url('../fonts/lumberjack_rough-webfont.woff2') format('woff2'),
        url('../fonts/lumberjack_rough-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?4d4bw3');
    src: url('../fonts/icomoon.eot?4d4bw3#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?4d4bw3') format('truetype'),
        url('../fonts/icomoon.woff?4d4bw3') format('woff'),
        url('../fonts/icomoon.svg?4d4bw3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp .path1:before {
    content: "\e900";
    color: rgb(76, 175, 80);
}

.icon-whatsapp .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(250, 250, 250);
}

.icon-instagram:before {
    content: "\e902";
}

.icon-telegram:before {
    content: "\e903";
}

.icon-facebook:before {
    content: "\e904";
}

  


/************** Estilos Custom **************/

.html {
    height: 100%;
}

.club-bar {
    font-family: 'lumberjackregular';
    background-image: url(../img/bg-desktop.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    background-size: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header .logo {
    height: 180px;
}


@media screen and (min-width:360px) and (max-width:767px) {
    .header .logo {
        height: 110px;
    }
}


@media screen and (min-width:768px) and (max-width:1023px) {
    .header .logo {
        height: 210px!important;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: auto;
    height: 100%;
    justify-content: space-around;
}

.menu {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:30px;

}

.menu a {
    font-family: 'lumberjackrough';
    font-size: 30px;
    padding-bottom: 25px;
    color: #1d1d1b;
}

.menu .with-text {
    position:relative;
}
.menu .small-text {
    position:absolute;
    color:red;
    font-size: 20px;
    padding-left:10px;
    top:-4px;
}

.copyright br {
    display:none;
}

@media screen and (min-width:1367px) {
    .menu a {
        font-size: 49px;
    }
}

.divider  {
    background-image: url('../img/divider.png');
    width:162px;
    height:30px;
    background-repeat:no-repeat;
    margin-bottom:10px;
}

.social {
    position: relative;
    z-index: 30;
} 

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.icons i {
    font-size:25px;
    color:#1d1d1b;
}

.icons a {
    margin:0 10px;
}

.icons a:hover i{
    font-size:25px;
    opacity:0.8;
}

.container-whatsapp {
    position: absolute;
    right: 10%;
    bottom: 25px;
    z-index: 10;
    display: flex;
}

.container-whatsapp .text {
    width: 200px;
    font-size: 22px;
    line-height: 25px;
    top: -40px;
    position: relative;
    left: 80px;
}

.container-whatsapp .next svg {
    width: 50px;
    position: absolute;
    left: 56px;
    top: 52px;
}

 .whatsapp {
    background-image: url(../img/bg-whatsapp.png);
    width: 81px;
    height: 78px;
    text-align: center;
}

.whatsapp a {
    position: relative;
    top: 15px;
}

.whatsapp a svg {
    width: 50px;
}

.footer {
    bottom: 0;
    position: absolute;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer .container {
    width:1340px;    
    margin: auto;
}

.footer .copyright a {
    color:#000;
    cursor: pointer;    
}


@media screen and (max-width:1366px) {
    .social {
        position: relative;
        z-index: 30;
        margin-top:0px;
    } 
}

/************** TABLET **************/
@media screen and (max-width:1023px) {
    .club-bar {
        background-size:cover;
        background-position: center center;
    }

    .wrapper {
        height: 100%;
        overflow: hidden;
    }

    .whatsapp {
        bottom:30px;
        right:40px;
    }

    .club-bar {
        background-image: url(../img/bg-tablet.jpg);
    }

    .menu a {
        font-size: 35px;
        padding-bottom: 20px;
    }
}

/************** MOBILE **************/
@media screen and (max-width:767px) {
    .social-icons {
        margin-top:-60px;
    }

    .wrapper {
        height: 92%;
        overflow: hidden;
    }


    .container-whatsapp {
        position: absolute;
        right: 10%;
        bottom: 22%;
        z-index: 10;
        display: flex;
    }

    .container-whatsapp .text {
        width: 130px;
        font-size: 17px;
        line-height: 17px;
        top: -20px;
        position: relative;
        left: 20px;
    }
    

    .container-whatsapp .next svg {
        width: 30px;
        position: absolute;
        left: 76px;
        transform: rotate(-15deg);
        top: 31px;
    }

    .whatsapp {
        bottom: 80px;
        right: 20px;
        background-size: contain;
        width: 55px;
        height: 55px;
        background-repeat: no-repeat;
    }

    .whatsapp a svg {
        width:35px;
        position:relative;
        top:-5px;
    }

    .footer {
        text-align: center;
    }

    .menu a {
        font-size: 29px;
        padding-bottom: 20px;
    }

    .menu .small-text {
        font-size:17px;
        padding-left:5px;
    }


    .club-bar {
        background-image: url(../img/bg-mobile.jpg);
    }

    .divider {
        background-image: url(../img/divider.png);
        width: 252px;
        height: 30px;
        background-repeat: no-repeat;
        margin-bottom: 10px;
        background-position: center center;
        background-size: 140px;
    }

    .footer {
        padding:20px;
    }

    .copyright {
        text-align: center;
        line-height: 20px;
    }

    .copyright br {
        display:block;
    }

}




@media screen and (max-width:359px) {
    .header .logo {
        height: 130px;
    }

    .social {
        margin-top:-30px!important;
    }

    .wrapper {
        height: 83%!important;
    }

    .whatsapp a svg {
        width:35px;
    } 
    
    .container-whatsapp .text {
        display:none;
    }

    .container-whatsapp {
        position: absolute;
        right: 5%;
        bottom: 98px;
        z-index: 10;
        display: flex;
    }
}


@media screen and (max-width:767px) and (orientation: landscape) {

    .club-bar {
        overflow: inherit!important;
    }
    .wrapper {
        height:100%!important;
    }

    .footer {
        bottom: inherit; 
    }
} 


